@import '../../variables.module.scss';

.dynamic-cell-component {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px;
    border-radius: 3px;
    width: $cell-width-height;
    height: $cell-width-height;
    line-height: 116.25px;
    transition: 200ms ease-in-out;
}
.new-dynamic-cell {
  animation: appear 200ms ease 100ms;
  animation-fill-mode: both;
}
.dynamic-cell-merged {
  animation: pop 340ms ease 100ms;
}

@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0);
      transform: scale(0); }
  
    100% {
      opacity: 1;
      transform: scale(1);
      transform: scale(1);
    }
}

@keyframes pop {
  0% {
    transform: scale(0);
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    transform: scale(1); 
  }
}